{% extends "store/base.html" %}
{% block content %}
    <div class="row">
        {% if all_search_results|length != 0 %}
            <div class="col-md-8">
                <h1> Search Results</h1>
<!--                <form class="input-group rounded" method="GET" action="search" >-->
<!--                  <input type="search" class="form-control rounded" placeholder="Search" aria-label="Search"-->
<!--                   type="search" name="" />-->
<!--                    <button class="" type="submit">Search</button>-->
<!--                </form>-->
                <h4><a href="{% url 'store-home' %}">Back to Home</a></h4>
                <div class="text-center">
        {% if is_paginated %}
                {% if page_obj.has_previous %}
                    <a class="btn btn-outline-info mb-4" href="?page=1">First</a>
                    <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.previous_page_number }}">Previous</a>
                {% endif %}

                {% for num in page_obj.paginator.page_range %}
                    {% if page_obj.number == num %}
                        <a class="btn btn-info mb-4" href="?page={{ num }}">{{ num }}</a>
                    {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
                        <a class="btn btn-outline-info mb-4" href="?page={{ num }}">{{ num }}</a>
                    {% endif %}
                {% endfor %}

                {% if page_obj.has_next %}
                    <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.next_page_number }}">Next</a>
                    <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.paginator.num_pages }}">Last</a>
                {% endif %}
            {% endif %}
        </div>
            </div>
            {% for product in all_search_results %}
            <div class="col-md-8">
                <article class="media content-section">
                  {% if product.imageUrl != '' and product.imageUrl != Null  %}
                    <img class="p-2" width="100" height="120" src= {{ product.imageUrl }}>
                  {% else %}
                    <img class="rounded-circle account-img" width="100" height="120" src="/media/defaultpictures/default_missing_item.png">
                  {% endif %}
                  <div class="media-body w-100">
                    <div class="article-metadata">
                      <a class="mr-2" href="#">{{ product.title }}</a>
                      <small class="text-muted">{{ product.brand }}</small>
                    </div>
                    <h4><a class="article-title" href="{% url 'product-detail' product.id %}">{{ product.title }}</a></h4>
                    <p class="article-content">${{product.price|floatformat:2}}</p>
                      <p class="article-content"><strong>Category: </strong>{{product.main_cat}}</p>
                    <p class="article-content">{{product.description}}</p>
                      {% if user.is_authenticated %}
                          {% if product in user.profile.cart.all %}
                            This is in your cart!
                          {% elif object in current_order_products %}
                            <a href="{% url 'order_summary' %}" class="btn btn-warning">Go to cart</a>
                          {% else %}
                            <a href="{% url 'add_to_cart' product.id %}" class="btn btn-warning">Add to cart</a>
                          {% endif %}
                      {% endif %}
                  </div>
                </article>
            </div>
            {% endfor %}
            {% else %}
                <h2> Nothing Found!</h2>
                <form class="input-group rounded" method="GET" action="search" >
                  <input type="search" class="form-control rounded" placeholder="Search" aria-label="Search"
                   type="search" name="search" />
                  <button class="add_your_class" type="submit"> Search </button>
                </form>
                <h4><a href="{% url 'store-home' %}">Back to Home</a></h4>
            {% endif %}

{% endblock content %}
