/db.sqlite3
/DjangoModel.pk2
/DjangoModel.pk2
/django_modelSVD.pkl
/django_modelSVD.pkl
/media/profile_pics/
/MongoScripts.txt
/updatedbpy.py
/media/data/biggerdata/users_model1.json
/media/data/biggerdata/reviews_model1.csv
