{% extends "store/base.html" %}
{% block content %}
<body>
     <div class="container">
    <section>
      <div class="row" id="tablerow">
      <div class="col-md-4 col-xs-12">
        <div class="panel panel-primary">

          <div class="panel-body">
            <h5>Enter Voucher Code Below<br><small>If multiple, separate each with comma</small></h5>

            <div>
              <form action="." method="post">
                {% csrf_token %}
                <input type="text"  name="voucher_codes" class="form-control" id="voucher_code" required>
                <input type="hidden"  name="order_id" value="{{ order.id }}">
                <br>
                <span>
                  <input type="submit" class="btn btn-warning pull-right" value="Apply Voucher">
                </span>
              </form>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-8 col-xs-12">
        <table class="table">
          <tr>
            <td><h4>Order Summary</h4></td>
          </tr>
          <tr>
            <td>
              {% for item in order.get_cart_items %}
                <tr>
                  <td>{{ item.product.title }}</td>
                  <td>${{ item.product.price|floatformat:2 }}</td>
                </tr>
              {% endfor %}
            </td>
          </tr>
          <tr>
            <td><strong>Order Total</strong> </td>
            <td> <strong>${{ order.get_cart_total|floatformat:2 }}</strong></td>
          </tr>
        </table>
        <button onclick="toggleDisplay();" class="btn btn-warning" style="width: 100%;">Checkout with a credit card</button>
      </div>
     </div>
    </section>
     </div>
{% endblock content %}